<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd">

        <!--扫描控制器注解所在的包-->
        <context:component-scan base-package="com.baidu.controller"/>

        <!--配置使mvc注解生效-->
        <mvc:annotation-driven/>

        <mvc:resources mapping="/css/**" location="/css/**"/>
        <mvc:resources mapping="/images/**" location="/img/**"/>
        <mvc:resources mapping="/js/**" location="/js/**"/>

        <mvc:default-servlet-handler/>


        <!--配置视图解析器:作用是将逻辑视图转换成真实视图
                prefix:表示前缀，用于配置真实视图的路径
                suffix:表示后缀，用于配置文件的类型
                逻辑视图转换成真实视图:prefix+逻辑视图名+suffix
                               /pages/success.jsp
        -->
        <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
              <property name="prefix" value="/"/>
                <property name="suffix" value=".jsp"/>

        </bean>

    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--每次文件上传大小限制，单位B-->
        <property name="maxUploadSize" value="102400000">
        </property>
    </bean>


</beans>